[submodule "vim-gitgutter"]
	path = vim/.vim/pack/airblade/start
	url = https://github.com/airblade/vim-gitgutter.git

[submodule "zenburn"]
    path = vim/.vim/pack/jnurmine/start
    url = https://github.com/jnurmine/Zenburn
